.homePeril {
    height: 100vh;
}

.fundoPerfil h1 {
    color: lawngreen;
    text-align: center;
    margin-top: 3rem;
}

.perfis {
    height: 15rem;
}



.fundoPerfil {
    position: relative;
    width: 80%;
    height: 20rem;
    background: rgba(12, 29, 14, 0.253);
    border-radius: 20px;
    overflow: hidden; 
    margin: 0 auto;
    margin-top: 2rem;
}