.navbar {
    display: flex;
    position: relative;
}

.link {
    justify-content: start;
    text-decoration: none;
    margin: 2em;
    
}

.loginHeader {
    justify-content: flex-end;
    display: flex;
    
}

.link2 {
    text-decoration: none;
    color: white;


    

}

.link3 {
    margin: 2rem;
    justify-content: end;
    color: white;
    text-decoration: none;

}